APP_ENV=local
APP_DEBUG=true
APP_KEY=3TTN5JUf8uLcC3ZxIrszuO9isduc3IKO

DB_HOST=127.0.0.1
DB_DATABASE=idea
DB_USERNAME=root
DB_PASSWORD=

DB_RADIUS_HOST=
DB_RADIUS_DATABASE=radius
DB_RADIUS_USERNAME=radius
DB_RADIUS_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=redis

#MAIL_DRIVER=smtp
#MAIL_HOST=mailtrap.io
#MAIL_PORT=2525
MAIL_USERNAME=xxxx@yeah.net
MAIL_PASSWORD=xxxx
#MAIL_ENCRYPTION=null
